<h4>Bidded Auctions</h4>
<% if @user.bidded_auctions.empty? %>
    No available bids, <%= link_to "click here to browse auctions", auctions_path %>
<% else %>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Auction</th>
                <th scope="col">Your Bid</th>
            </tr>
        </thead>
        <tbody>
        <% @user.bidded_auctions.each do |auction| %>
            <tr>
                <td><%= link_to auction.item, auction_path(auction)%></td>
                <td><%= "$#{auction.bids.bid_history.find_by(bidder:current_user).bid}" %></td>
            </tr>
        <% end %>
        </tbody>
    
    
    
    
    </table>
<% end %>